---
title: Sponsorship Prospectus - EuRuKo 2016 - Sofia, Bulgaria
---

<table>
  <tr>
    <th>Benefits</th>
    <th>Webrick(2000)</th>
    <th>Pow(5000)</th>
    <th>Puma(7000)</th>
    <th>Unicorn(9000)</th>
  </tr>
  <tr>
    <td>Link included in the footer of newsletter emails</td>
    <td >Text Link</td>
    <td >Text Link</td>
    <td >Text Link</td>
    <td >Monochrome logo</td>
  </tr>
  <tr>
    <td>Logo and description (100 words) on dedicated section in Sponsors page</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Logo on badge</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Conference booklet (print)</td>
    <td>Logo on sponsors page</td>
    <td>Logo on sponsors page</td>
    <td>Logo on sponsors page + Half page</td>
    <td>Full page + Logo on sponsors page</td>
  </tr>
  <tr>
    <td>Logos on sponsor slide in post-conference videos of the talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td>Dedicated Slide</td>
  </tr>
  <tr>
    <td>Promotion of your company on Twitter (1 intro/1 provided by sponsor - we decide the time/1 week prior event) - text + link only</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Thank you blog post (we agree about the schedule)</td>
    <td></td>
    <td></td>
    <td>Dedicated</td>
    <td>Dedicated</td>
  </tr>
  <tr>
    <td>Thank you from stage (Final)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Opening thank you (Morning 2 days)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Rollup banner</td>
    <td>Sponsors Hall +750</td>
    <td>Sponsors Hall</td>
    <td>Sponsors Hall next to table</td>
    <td>Stage</td>
  </tr>
  <tr>
    <td>Swag on shared table (stickers, flyer, buttons)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Goodie Bag (approval by organizers, provide preview)</td>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Conference Passes</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Job Board (free - we provide board + cards)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Exhibit Space</td>
    <td>Half-table 1500</td>
    <td>From 1500</td>
    <td>Table (2x2) - we provide it</td>
    <td>Booth (3x3)</td>
  </tr>
  <tr>
    <td>Monochrome logo placed on the footer of EuRuKo website</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Dedicated slide during conference breaks</td>
    <td></td>
    <td>500</td>
    <td>500</td>
    <td></td>
  </tr>
  <tr>
    <td>ADDONS</td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Table (2x2)</td>
    <td></td>
    <td>3000</td>
    <td>space included</td>
    <td>space included</td>
  </tr>
  <tr>
    <td>Shared Table (1 baner, half table)</td>
    <td>1500</td>
    <td>1500</td>
    <td>space included</td>
    <td>space included</td>
  </tr>
  <tr>
    <td>Banner Sponsors Hall</td>
      <td>750</td>
      <td>750</td>
      <td>750</td>
      <td>750</td>
  </tr>
  <tr>
    <td>Coffee Break Sponsor (per day) - social / stage mention / slide / banner</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Party Sponsor (coordinate + organize) - social / stage mention / banner / slide / booklet mention</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Conference Supporter - ticket + cool badge + twitter link in bottom page - attendee only</td>
    <td>150</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
